<p class="tl_error tl_permalert">
    <a href="contao/main.php?do=maintenance&amp;highlight=theme_plus_build_assets_cache"
            class="tl_submit">{{ _lang.be_theme_plus.do_build_cache }}</a>
    {{ _lang.be_theme_plus.outdated_cache }}
</p>
