@charset "utf-8";

.header_new_css {
	padding: 2px 0 3px 20px;
	background: url(../../../themes/default/images/iconCSS.gif) no-repeat left center;
}

.header_new_js {
	padding: 2px 0 3px 20px;
	background: url(../../../themes/default/images/iconJS.gif) no-repeat left center;
}
